<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <clear/>
    <!--add name="BDConnection" connectionString="Initial Catalog=DESKTOP-29D80GC;" providerName="System.Data.SqlClient"/-->
    <add name="BDConnection" connectionString="Data Source=.\SQL14_UAI;Initial Catalog=SISPELDB2017;Integrated Security=True"/>
  </connectionStrings>
  
</configuration>